body{
    background-color: rgb(198, 139, 124);

}

  .jumbotron {
    background-image: url("../images/food.jpg");
    background-size: cover;
    height: 100%;
} 

h1{
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 22px;
    color:rgb(255, 255, 255);
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 72px;
    
 }


.form-control,.btn, .table{
    font-family: 'Times New Roman', Times, serif;
}

.form-control{
    margin:20px;
}

.btn{
    background-color: white;
    font-weight: bold;
    margin:20px;
}


 #restaurants, #recipes{
    padding: 5px;
    margin-left: 35px;
    margin-right: 45px;
    margin-top:20px;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}



